.tooltip .tooltip-inner {
  max-width: 600px;
  white-space: normal;
  word-break: break-all;
}

div.Container {
  height: 680px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

div.OverflowY {
  padding: 1rem;
  overflow-y: auto;
}
